<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Catalogue -->
      <package
            uri="http://fr.n7.catalogue"
            class="catalogue.CataloguePackage"
            genModel="model/Catalogue.genmodel"/>
   </extension>

</plugin>
